@{
ViewData["Title"] = "Transações Financeiras";
}

<h1>@ViewData["Title"]</h1>

<div class="mt-3 mb-3">
    <button type="button" class="btn btn-primary btn-lg" onclick="createTransacao()">Registrar Transação</button>
</div>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Data</th>
            <th scope="col">Histórico</th>
            <th scope="col">Valor</th>
            <th scope="col">Plano Conta</th>
            <th scope="col">Tipo Operação</th>
            <th scope="col">Tipo Pagamento</th>
            <th scope="col">#</th>
            <th scope="col">#</th>
        </tr>
    </thead>
    <tbody>
        @{
        foreach(var item in (List<TransacaoModel>)ViewBag.ListaTransacoes) {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Data</td>
                <td>@item.Historico</td>
                <td>@item.Valor</td>
                <td>@item.ItemPlanoConta.Descricao</td>
                <td>@item.ItemPlanoConta.Tipo</td>
                <td>@item.ItemTipoPagamento.Tipo</td>
                <td><button type="button" class="btn btn-outline-warning"
                        onclick="updateTransacao(@item.Id.ToString())">Editar</button></td>
                <td><button type="button" class="btn btn-outline-danger"
                        onclick="deleteTransacao(@item.Id.ToString())">Excluir</button></td>
            </tr>
            }
            }
    </tbody>
</table>

<script>
    function createTransacao() {
        window.location.href = "../Transacao/Cadastro";
    }

    function updateTransacao(id) {
        window.location.href = "../Transacao/Cadastro/" + id;
    }

    function deleteTransacao(id) {
        window.location.href = "../Transacao/Excluir/" + id;
    }
</script>