@{
ViewData["Title"] = "Plano de Contas";
}

<h1>@ViewData["Title"]</h1>

<button type="button" class="btn btn-primary btn-lg" onclick="createPlanoConta()">Criar item de Plano de Contas</button>
<hr>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Descrição</th>
            <th scope="col">Tipo</th>
            <th scope="col">#</th>
            <th scope="col">#</th>
        </tr>
    </thead>
    <tbody>
        @{
        foreach(var item in (List<PlanoContaModel>)ViewBag.ListaPlanoConta) {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Descricao</td>
                <td>@item.Tipo</td>
                <td><button type="button" class="btn btn-outline-warning"
                        onclick="updatePlanoConta(@item.Id.ToString())">Editar</button></td>
                <td><button type="button" class="btn btn-outline-danger"
                        onclick="deletePlanoConta(@item.Id.ToString())">Excluir</button></td>
            </tr>
            }
            }
    </tbody>
</table>

<script>
    function createPlanoConta() {
        window.location.href = "../PlanoConta/Cadastro";
    }

    function updatePlanoConta(id) {
        window.location.href = "../PlanoConta/Cadastro/" + id;
    }

    function deletePlanoConta(id) {
        window.location.href = "../PlanoConta/Excluir/" + id;;
    }

</script>